<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.undermusic">

    <dist:module dist:instant="true" />
    
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- To avoid processor sleeping during media playback -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--
       launchMode="singleTop:" feature for remembering state when navigating to different view
       https://discussions.udacity.com/t/why-save-restore-fragment/25431
       -->
        <activity
            android:name=".Activity.ArtistActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
        To avoid the onCreate being recalled when the orientation is changed,
        add the following to <activity>
        android:configChanges="orientation|screenSize
        http://stackoverflow.com/questions/3915952/how-to-save-state-during-orientation-change-in-android-if-the-state-is-made-of-m#answer-12054158
        -->
        <activity
            android:name=".Activity.TrackActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_track"
            android:launchMode="singleTop"
            android:parentActivityName=".Activity.ArtistActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.ArtistActivity" />
        </activity>
        <activity
            android:name=".Activity.PlayerActivity"
            android:label="@string/title_activity_player"
            android:launchMode="singleTop"
            android:parentActivityName=".Activity.TrackActivity"
            android:theme="@style/DialogWhenLarge">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.tareq.spotifystreamer.Activity.TrackActivity" />
        </activity>

        <service android:name="uk.tareq.spotifystreamer.MusicService"/>
    </application>



</manifest>